.steps {
    margin: 20px 0 20px 0px;
    display:flex;
    width: 1175px;
}

.steps__noflex {
    margin: 20px 0 20px 0px;
    border-radius: 10px;
    background-color: white;
    width: 1175px;
    /* min-height: 1310px; */
    height: auto;
    position: relative;
}

.editWidth {
    width: 274px;
    border-right: 1px solid #EBEDF3;
    padding: 19px 0px 0 20px ;
}

.alignCenter {
    display: flex;
    justify-content: center;
    width: calc(100% - 265px);
    position: relative;
    left: 265px;
}