# dependencies
node_modules
/node_modules
./profile/node_modules
./profile_proxy/node_modules
/profile/node_modules
/profile_proxy/node_modules
./dist
/dist
./node_modules
package-lock.json
# Nuxt generate
data.json
data1.json
yarn.lock
/client/.env
.env
.env.dev
.idea
