.table__pos__name {
    width: 920px;
}

.table__pos__type {
    width: 420px;
}

.pos__infor form div label {
    display: block;
}

.pos__infor form > div {
    margin-bottom: 20px;
}

.pos__infor form > div:last-child {
    margin: 0;
}

.pos__infor form .ant-select-selector{
    align-items: center;
}

.table__position .tools {
    display: flex;
    justify-content: space-between;
}

div.pos__type {
    display: flex;
}

.delete__btn {
    background-color: red;
    transition: background-color 0.8s;
}

.delete__btn:hover {
    background-color: rgba(255, 86, 34, 1);
}

div.table__position div.pos__type button.delete_pos_type {
    background-color: red;
}

div.table__position div.pos__type button.delete_pos_type:hover {
    border: 1px solid red;
    background-color: white;
    color: red;
}

.update__btn {
    background-color: #00bcd4;
    transition: background-color 0.8s;
}

.update__btn:hover {
    background-color: #2196f3;
}

div.table__position div.pos__type button.update_pos_type {
    background-color: #00bcd4;
}

div.table__position div.pos__type button.update_pos_type:hover {
    border: 1px solid #00bcd4;
    background-color: white;
    color: #00bcd4;
}

.pos__type__modal__field label {
    display: block;
}

.pos__type__modal__field {
    margin-bottom: 20px;
}

.pos__type__modal__content {
    text-align: center;
    padding-bottom: 20px;
}

.table__position .tools button svg {
    margin-right: 3px;
}

.pos__type > button {
    margin-right: 5px;
}

.pos__type > button:last-child {
    margin-right: 0px;
}

button.thaoTac__Delete__btn {
    background-color: #ff0000;
    margin-left: 5px;
}

div.ant-popover-message {
    display: flex;
    /* align-items: center; */
}

div.ant-popover-message svg {
    color: #ff0000;
    margin-right: 3px;
    width: 25px;
    height: 25px;
}

div.ant-popover-message-title {
    padding-left: 0;
}

div.ant-popover .ant-popover-content button.ant-btn-primary {
    background-color: #459c60;
    border-color: #459c60;
}

div.ant-popover .ant-popover-content button.ant-btn-default:hover {
    border-color: #459c60;
    color: #459c60;
}